:root {
    --nodejs-color: #215732;
}

.text {
    position: relative;
    z-index: 9;
    right: 0px;

    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.24, .87, .25, 1);

    &.slide {
        right: -1rem;
    }
}

.input {
    padding: 10px;
    color: white;

    border-radius: var(--border-radius);

    border: 2px solid #3656ff;

    background-color: var(--secondary);
}

header {
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: fit-content;

    margin: auto;
    gap: 1rem;

    #introduction {
        display: flex;
        flex-direction: row;

        gap: 1rem;
        padding: 1rem 2rem;

        border-radius: var(--border-radius);
        background-color: var(--secondary);

        img {
            display: block;
            margin: auto;
            border-radius: 50%;
            height: 150px;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h1 {
                color: var(--text-light);
                font-size: 2rem;
            }

            span {
                color: var(--text-medium);
            }
        }
    }

    #contacts {
        display: flex;
        flex-direction: column;

        padding: 1rem;
        gap: 0.3rem;

        background-color: var(--secondary);

        .contact {
            display: flex;
            flex-direction: column;

            .wrapper {
                display: flex;

                justify-content: center;
                align-items: center;
                text-align: center;

                img {
                    width: 90px;
                    height: 50px;
                }

                a {
                    width: 100%;
                    border: 2px solid #3656ff;
                    cursor: pointer;
                }
            }
        }
    }

    #commision_status {
        display: flex;
        flex-direction: column;

        background-color: var(--secondary);

        .status {
            color: red;
            // color: #01ff97;
        }
    }
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    gap: 1rem;
    font-size: 22px;

    div {
        padding: 10px 2rem;
        width: 100%;
        height: 100%;

        border-radius: var(--border-radius);
    }

    .skill {
        position: relative;
        overflow: hidden;

        display: flex;
        justify-content: center;
    }

    .div_1,
    .div_2 {
        position: absolute;

        width: 100%;
        height: 100%;
        top: 0px;
        left: -250px;

        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(.24, .87, .25, 1);
    }

    .div_2 {
        img {
            position: relative;

            height: 2rem;

            top: -5px;
            left: -1rem;
            object-fit: contain;
        }
    }

    .slide_1,
    .slide_2 {
        left: 0px;
    }

    #nodejs {
        //#3C873A
        background-color: rgba(#215732, 0.25);

        .div_1 {
            background-color: rgba(#215732, 0.5);
        }

        .div_2 {
            background-color: rgba(#215732, 1);
        }
    }

    #socketio {

        //#3C873A
        a {
            color: #fff;

            &.slide {
                color: #000
            }
        }

        background-color: rgba(#fff, 0.25);

        .div_1 {
            background-color: rgba(#fff, 0.5);
        }

        .div_2 {
            background-color: rgba(#fff, 1);
        }
    }

    #vue3 {

        //#3C873A
        a {
            color: #fff;

            &.slide {
                color: #000;
            }
        }

        background-color: rgba(#19975e, 0.25);

        .div_1 {
            background-color: rgba(#19975e, 0.5);
        }

        .div_2 {
            background-color: rgba(#19975e, 1);
        }
    }

    #mongodb {
        //#023430
        background-color: rgba(#023430, 0.25);

        .div_1 {
            background-color: rgba(#023430, 0.5);
        }

        .div_2 {
            background-color: rgba(#023430, 1);
        }
    }

    #expressjs {

        //#023430
        img {
            border-radius: 50%;
        }

        background-color: rgba(130, 130, 130, 0.25);

        .div_1 {
            background-color: rgba(130, 130, 130, 0.5);
        }

        .div_2 {
            background-color: rgba(130, 130, 130, 1);
        }
    }

    #puppeteer {

        //#023430
        a {
            color: #fff;

            &.slide {
                color: #000
            }
        }

        background-color: rgba(98, 213, 165, 0.25);

        .div_1 {
            background-color: rgba(98, 213, 165, 0.5);
        }

        .div_2 {
            background-color: rgba(98, 213, 165, 1);
        }
    }

    #sass {

        //#023430
        a {
            color: #fff;
        }

        background-color: rgba(177, 123, 176, 0.25);

        .div_1 {
            background-color: rgba(177, 123, 176, 0.5);
        }

        .div_2 {
            background-color: rgba(177, 123, 176, 1);
        }
    }
}

#payment {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.5rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        padding: 1rem;
        gap: 1rem;

        justify-content: center;
        align-items: center;

        background-color: var(--primary);

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            padding: 0.5rem;
            gap: 0.3rem;
            background-color: var(--secondary);

            img {
                height: 125px;
                width: 125px;
            }
        }
    }
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    padding: 1rem;
    gap: 1rem;

    justify-content: center;
    align-items: center;

    background-color: var(--primary);

    .site {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1rem;
        padding: 1rem;
        gap: 1rem;
        background-color: var(--secondary);

        a {
            width: fit-content;
            padding: 0.5rem;
            font-size: 1.5rem;

            transition: all 100ms linear;
            color: var(--text-medium);

            border-radius: var(--border-radius);
            background-color: var(--secondary);

            &:hover {
                color: #fff;
            }
        }

        img {
            height: 300px;
            width: 100%;
            margin: auto;
            object-fit: cover;

            border-radius: var(--border-radius);
        }
    }
}

@media screen and (max-width: 920px) {
    #skills {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 720px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #skills {
        grid-template-columns: 1fr 1fr;
    }

    #payment {
        .wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }

    #gallery {
        grid-template-columns: 1fr;
    }
}