@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.2rem;
}

:root {
  --primary: #1d1d1d;
  --primary-comp: #232323;
  --secondary: #2F2F2F;
  --text-light: #ccd6f6;
  --text-medium: #8892b0;
  --border-radius: 10px;
  --nodejs-color: #215732;
}

.text {
  position: relative;
  z-index: 9;
  right: 0px;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.24, 0.87, 0.25, 1);
}
.text.slide {
  right: -1rem;
}

.input {
  padding: 10px;
  color: white;
  border-radius: var(--border-radius);
  border: 2px solid #3656ff;
  background-color: var(--secondary);
}

#app {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--primary);
}

header {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 1rem;
}
header #introduction {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 1rem 3rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-comp);
}
header #introduction img {
  border-radius: 50%;
}
header #introduction .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header #introduction .wrapper h1 {
  color: var(--text-light);
  font-size: 2rem;
}
header #introduction .wrapper span {
  color: var(--text-medium);
}
header #contacts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--primary-comp);
}

#skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#skills .wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 22px;
}
#skills .wrapper div {
  padding: 10px 3rem;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}
#skills .wrapper .skill {
  position: relative;
  overflow: hidden;
}
#skills .wrapper .div_1, #skills .wrapper .div_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -250px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.24, 0.87, 0.25, 1);
}
#skills .wrapper .div_2 img {
  position: relative;
  height: 2rem;
  top: -5px;
  left: -1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#skills .wrapper .slide_1, #skills .wrapper .slide_2 {
  left: 0px;
}
#skills #nodejs {
  background-color: rgba(33, 87, 50, 0.25);
}
#skills #nodejs .div_1 {
  background-color: rgba(33, 87, 50, 0.5);
}
#skills #nodejs .div_2 {
  background-color: #215732;
}
#skills #socketio {
  background-color: rgba(255, 255, 255, 0.25);
}
#skills #socketio a {
  color: #fff;
}
#skills #socketio a.slide {
  color: #000;
}
#skills #socketio .div_1 {
  background-color: rgba(255, 255, 255, 0.5);
}
#skills #socketio .div_2 {
  background-color: white;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1rem 10rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
#gallery .site {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-comp);
}
#gallery .site h1 {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
}
#gallery .site img {
  display: block;
  max-width: 200px;
  max-height: 300px;
  width: auto;
  height: auto;
}/*# sourceMappingURL=index.css.map */