@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  color: white;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
}

:root {
  --primary: #1d1d1d;
  --primary-comp: #232323;
  --secondary: #333333;
  --text-light: #ccd6f6;
  --text-medium: #8892b0;
  --border-radius: 10px;
  --nodejs-color: #215732;
}

html, body {
  background-color: var(--primary);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.text {
  position: relative;
  z-index: 9;
  right: 0px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.24, 0.87, 0.25, 1);
}
.text.slide {
  right: -1rem;
}

.input {
  padding: 10px;
  color: white;
  border-radius: var(--border-radius);
  border: 2px solid #3656ff;
  background-color: var(--secondary);
}

#app {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0px;
  background-color: var(--primary);
}

#nav {
  position: sticky;
  width: 100%;
  top: 0px;
  padding: 0.5rem;
  z-index: 100;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
          backdrop-filter: saturate(180%) blur(5px);
}
#nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  list-style-type: none;
}
#nav ul li {
  display: inline;
}
#nav ul li a {
  color: var(--text-light);
}
#nav ul li a:hover {
  color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  gap: 1rem;
}
header #introduction {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-comp);
}
header #introduction img {
  display: block;
  margin: auto;
  border-radius: 50%;
  height: 150px;
}
header #introduction .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header #introduction .wrapper h1 {
  color: var(--text-light);
  font-size: 2rem;
}
header #introduction .wrapper span {
  color: var(--text-medium);
}
header #contacts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.3rem;
  background-color: var(--primary-comp);
}
header #contacts .contact {
  display: flex;
  flex-direction: column;
}
header #contacts .contact .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header #contacts .contact .wrapper img {
  width: 90px;
  height: 50px;
}
header #contacts .contact .wrapper a {
  width: 100%;
  border: 2px solid #3656ff;
  background-color: var(--secondary);
  cursor: pointer;
}
header #commision_status {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-comp);
}

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  font-size: 22px;
}
#skills div {
  padding: 10px 2rem;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}
#skills .skill {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#skills .div_1, #skills .div_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -250px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.24, 0.87, 0.25, 1);
}
#skills .div_2 img {
  position: relative;
  height: 2rem;
  top: -5px;
  left: -1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#skills .slide_1, #skills .slide_2 {
  left: 0px;
}
#skills #nodejs {
  background-color: rgba(33, 87, 50, 0.25);
}
#skills #nodejs .div_1 {
  background-color: rgba(33, 87, 50, 0.5);
}
#skills #nodejs .div_2 {
  background-color: #215732;
}
#skills #socketio {
  background-color: rgba(255, 255, 255, 0.25);
}
#skills #socketio a {
  color: #fff;
}
#skills #socketio a.slide {
  color: #000;
}
#skills #socketio .div_1 {
  background-color: rgba(255, 255, 255, 0.5);
}
#skills #socketio .div_2 {
  background-color: white;
}
#skills #vue3 {
  background-color: rgba(25, 151, 94, 0.25);
}
#skills #vue3 a {
  color: #fff;
}
#skills #vue3 a.slide {
  color: #000;
}
#skills #vue3 .div_1 {
  background-color: rgba(25, 151, 94, 0.5);
}
#skills #vue3 .div_2 {
  background-color: #19975e;
}
#skills #mongodb {
  background-color: rgba(2, 52, 48, 0.25);
}
#skills #mongodb .div_1 {
  background-color: rgba(2, 52, 48, 0.5);
}
#skills #mongodb .div_2 {
  background-color: #023430;
}
#skills #expressjs {
  background-color: rgba(130, 130, 130, 0.25);
}
#skills #expressjs img {
  border-radius: 50%;
}
#skills #expressjs .div_1 {
  background-color: rgba(130, 130, 130, 0.5);
}
#skills #expressjs .div_2 {
  background-color: rgb(130, 130, 130);
}
#skills #puppeteer {
  background-color: rgba(98, 213, 165, 0.25);
}
#skills #puppeteer a {
  color: #fff;
}
#skills #puppeteer a.slide {
  color: #000;
}
#skills #puppeteer .div_1 {
  background-color: rgba(98, 213, 165, 0.5);
}
#skills #puppeteer .div_2 {
  background-color: rgb(98, 213, 165);
}
#skills #sass {
  background-color: rgba(177, 123, 176, 0.25);
}
#skills #sass a {
  color: #fff;
}
#skills #sass .div_1 {
  background-color: rgba(177, 123, 176, 0.5);
}
#skills #sass .div_2 {
  background-color: rgb(177, 123, 176);
}

#payment {
  display: flex;
  flex-direction: column;
}
#payment h1 {
  font-size: 1.5rem;
}
#payment .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
#payment .wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  gap: 0.3rem;
  background-color: var(--primary-comp);
}
#payment .wrapper div img {
  height: 125px;
  width: 125px;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
#gallery .site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--primary-comp);
}
#gallery .site a {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: all 100ms linear;
  color: var(--text-medium);
  border-radius: var(--border-radius);
  background-color: var(--secondary);
}
#gallery .site a:hover {
  color: #fff;
}
#gallery .site img {
  height: 300px;
  width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 920px) {
  #skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 720px) {
  header {
    display: flex;
    flex-direction: column;
  }
  #skills {
    grid-template-columns: 1fr 1fr;
  }
  #payment .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  #gallery {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=index.css.map */